In [6]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Data/data.csv')

In [4]:
df

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDZ,DMDHRMAZ,DMDHSEDZ,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,93703.0,10.0,2.0,2.0,2.0,NaN,5.0,6.0,2.0,27.0,...,3.0,1.0,3.0,9246.491865,8539.731348,2.0,145.0,15.0,15.0,5.00
1,93704.0,10.0,2.0,1.0,2.0,NaN,3.0,3.0,1.0,33.0,...,3.0,1.0,2.0,37338.768343,42566.614750,1.0,143.0,15.0,15.0,5.00
2,93705.0,10.0,2.0,2.0,66.0,NaN,4.0,4.0,2.0,NaN,...,1.0,2.0,NaN,8614.571172,8338.419786,2.0,145.0,3.0,3.0,0.82
3,93706.0,10.0,2.0,1.0,18.0,NaN,5.0,6.0,2.0,222.0,...,3.0,1.0,2.0,8548.632619,8723.439814,2.0,134.0,NaN,NaN,NaN
4,93707.0,10.0,2.0,1.0,13.0,NaN,5.0,7.0,2.0,158.0,...,2.0,1.0,3.0,6769.344567,7064.609730,1.0,138.0,10.0,10.0,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9249,102952.0,10.0,2.0,2.0,70.0,NaN,5.0,6.0,2.0,NaN,...,2.0,1.0,1.0,16896.276203,18338.711104,2.0,138.0,4.0,4.0,0.95
9250,102953.0,10.0,2.0,1.0,42.0,NaN,1.0,1.0,2.0,NaN,...,2.0,2.0,NaN,61630.380013,63661.951573,2.0,137.0,12.0,12.0,NaN
9251,102954.0,10.0,2.0,2.0,41.0,NaN,4.0,4.0,1.0,NaN,...,2.0,2.0,NaN,17160.895269,17694.783346,1.0,144.0,10.0,10.0,1.18
9252,102955.0,10.0,2.0,2.0,14.0,NaN,4.0,4.0,2.0,175.0,...,2.0,1.0,2.0,14238.445922,14871.839636,1.0,136.0,9.0,9.0,2.24
9253,102956.0,10.0,2.0,1.0,38.0,NaN,3.0,3.0,2.0,NaN,...,2.0,2.0,NaN,38645.740291,39426.299948,1.0,142.0,7.0,7.0,1.56

These column names are difficult to see, and the following table describes the name of these variables.

<table>
  <tr>
    <th>Variable Name</th>
    <th>Variable Description</th>
  </tr>
  <tr>
    <td>DMDEDUC2</td>
    <td>What is the highest grade or level of school {you have/SP has} completed or the highest degree {you have/s/he has} received?</td>
  </tr>
  <tr>
    <td>DMDHHSIZ</td>
    <td>Total number of people in the Household</td>
  </tr>
  <tr>
      <td>INDFMIN2</td>
      <td>Total family income (reported as a range value in dollars)</td>
    </tr>
    <tr>
        <td>INDFMPIR</td>
        <td>A ratio of family income to poverty guidelines.</td>
    </tr>
    <tr>
        <td>INDHHIN2</td>
        <td>Total household income (reported as a range value in dollars)</td>
    </tr>
    <tr>
        <td>RIDRETH3</td>
        <td>Recode of reported race and Hispanic origin information, with Non-Hispanic Asian Category</td>
    </tr>
    <tr>
        <td>WTMEC2YR</td>
        <td>Full sample 2 year MEC exam weight.</td>
    </tr>
    <tr>
        <td>SEQN</td>
        <td>Respondent sequence number</td>
    </tr>
</table>

In [9]:
np.mean(df['WTMEC2YR'])

34670.706829479146